body,div,span,ul,li,a,i,p,button,input,::before,::after {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: "Microsoft YaHei";
    background-color: rgb(253, 253, 253);
    color: rgb(48, 47, 47);
    width: 100%!important;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
input {
    resize: none;
    appearance: none;
}
input:focus {
    outline: none;
}
input[type=search]::-webkit-search-cancel-button {
    appearance: none;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.clearfix{
    zoom:1;
}