body,div,span,ul,li,a,i,p,button,input {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: "Microsoft YaHei";
    background-color: rgb(247, 246, 246);
    --background-color: rgb(253, 253, 253);
    --hover-color: rgb(241, 180, 24);
    color: rgb(95, 95, 95);
    --color: rgb(95, 95, 95);
    font-weight: normal;
    width: 100%!important;
}
span {
    font-size: 16px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img{ 
    border:none; 
    vertical-align:middle; 
    max-width: 100%;
}  
i,em { 
    font-style:normal;
}    
input {
    resize: none;
    appearance: none;
}
input:focus {
    outline: none;
}
input[type=search]::-webkit-search-cancel-button {
    appearance: none;
}
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    clear: both;
}

.clearfix{
    zoom:1;
}
.left {
    float: left;
}
.right {
    float: right;
  }
.active {
 color: var(--hover-color);
}
.subs {
    color: rgb(130, 130, 130,.6)
}
.text-de {
    text-decoration: line-through;
}
.line {
    border-top: 1px solid rgb(214, 212, 212);
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
table,th,tr,td {
    border: none;
}